.about {
  padding: 100px 0;

  display: flex;
  align-items: center;

  @include tablet {
    padding: 95px 0 50px;
  }

  @include mobile {
    background: none;
    padding: 65px 0 67px 0;
  }

  .container {
    display: flex;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }

    @include mobile {
      max-width: 100%;
    }
  }
}

.about p {
  width: 100%;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: $dark-blue-color;
  margin: 0 0 20px;

  &:nth-last-of-type(1) {
    margin: 0 0 70px;
  }

  @include tablet() {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
}

.about__button {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  text-align: center;
  width: 206px;
  margin: 0 auto;
  padding: 24px 0;
  cursor: pointer;
  color: $white;
  background: linear-gradient($red, $blue);
  transition: background 2s;

  &:hover {
    background: linear-gradient($blue, $red);
    transition: background 2s;
  }
}

.about__wrap {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  @include tablet {
    width: 75%;
    justify-content: center;
  }

  @include mobile {
    width: 90%;
    text-align: left;
  }
}
