.contacts {
  margin: 0 auto;
  padding: 0 0 30px;

  width: calc(100% - 206px);
}

.contacts h2 {
  font-size: 28px;
  line-height: 33px;
  font-weight: 800;
  color: $blue;
  margin: 0 0 20px 0;

  @include tablet {
    @include title-tablet
  }

  @include mobile {
    @include title-mobile
  }
}

.contacts__info {
  width: 43%;
  margin: 0 auto;

  @include tablet {
    width: 48%;
  }

  @include mobile {
    width: 100%;
  }
}

.contacts__info p {
  @include reset;

  margin-bottom: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include mobile {
    display: block;
  }
}

.contacts svg {
  margin-right: 1%;
  width: 22px;
}

.contacts__address {
  margin-bottom: 5px;
  display: flex;

  width: 95%;

  @include mobile {
    width: 100%;
  }
}

.contacts__address svg {
  margin-left: -2px;

  @include tablet {
    margin-left: 0;
    padding-top: 5px;
    padding-right: 2%;
  }

  @include mobile {
    margin-left: -2px;
  }
}

.contacts__address p {
  @include reset;

  width: 97%;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.contacts__phone {
  width: 95%;

  &:hover {
    opacity: 0.7;
  }

  @include mobile {
    width: 100%;
  }
}

.contacts__phone svg {
  margin-left: -2px;

  @include tablet {
    margin-left: 0;
    padding-top: 4px;
  }

  @include mobile {
    margin-left: -2px;
  }
}

.contacts__phone-link {
  width: 97%;

  color: $blue;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  white-space: nowrap;
}
