.features__wrap {
  width: calc(100% - 206px);
  margin: 0 auto;
  padding: 50px 0;

  @include tablet {
    padding-top: 50px;
    width: calc(100% - 90px);
  }

  @include mobile {
    padding-top: 30px;
    width: 100%;
  }

}

.features h2 {
  @include title-desktop;
  color: $blue;
  margin: 0 0 58px 0;
  text-align: center;

  @include tablet {
   @include title-tablet
  }

  @include mobile {
    @include title-mobile
  }
}

.features__count {
  font-weight: 700;
  font-size: 71px;
  line-height: 71px;
  background: linear-gradient($red, $blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 30px 0 0;
  min-width: 120px;

  @include tablet {
    min-width:100px;
  }
}

.features__count-block {
  margin: 0 5% 0 0;

  @include mobile {
    margin: 0;
  }
}

.features__description-block h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: $dark-blue-color;
  margin: 6px 0 6px 0;
}

.features__description-block p {
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $dark-blue-color;
  margin: 0;
}

.features__units {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $dark-blue-color;
  margin: 0;
}

.features__main-block {
  width: 23.1%;
  min-height: 240px;
  border-radius: 10px;
  padding: 55px 33px 10px;
  margin: -90px auto 0;
  position: relative;
  z-index: 1;
  background: linear-gradient(#35548a,#f22f45,#35548a);

  &::after {
    content: "";
    display: block;
    width: 142%;
    height: 2px;
    background: rgba(209, 10, 66, 0.2);
    position: absolute;
    top: 154px;
    left: -400px;
  }

  &::before {
    content: "";
    display: block;
    width: 142%;
    height: 2px;
    background: rgba(209, 10, 66, 0.2);
    position: absolute;
    top: 154px;
    right: -400px;
  }
}

.features__main-count {
  font-weight: 700;
  font-size: 71px;
  line-height: 71px;
  color: $white-color;
  text-align: center;
  margin: 0 0 0 -3px;
}

.features__main-unit {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: $white-color;
  text-align: center;
  margin: 4px 0 32px;
}

.features__main-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $white-color;
  text-align: center;
  margin: 0;
}

.features__top-block {
  display: flex;
  padding: 0 5px 0 26px;
}

.features__area,
.features__parking,
.features__comfort,
.features__experience {
  display: flex;
  width: 32.8%;
}

.features__area,
.features__comfort {
  margin-right: 35%;
}

.features__bottom-block {
  display: flex;
  padding: 0 10px 0 20px;
  margin-top: -82px;
}

.features__experience h3 {
  margin: 4px 0 6px 0;
}

@media (max-width: $tablet-width) {

  .features__title {
    @include title-tablet;
    margin: 0 0 45px 0;
  }

  .features__count {
    font-size: 58px;
    line-height: 58px;
  }

  .features__description-block h3 {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 1px 0;
  }

  .features__main-block {
    width: 65.2%;
    min-height: 239px;
    padding: 34px 135px 20px;
    margin: 31px auto 43px;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .features__main-count {
    font-size: 74px;
    line-height: 74px;
  }

  .features__main-unit {
    font-size: 22px;
    line-height: 33px;
    margin: 0 0 12px;
  }

  .features__top-block {
    padding: 0;
    justify-content: space-between;
  }

  .features__area,
  .features__parking,
  .features__comfort,
  .features__experience {
    width: 44.7%;
  }

  .features__parking,
  .features__experience {
    justify-content: flex-end;
    margin-right: 5px;
  }

  .features__area,
  .features__comfort {
    margin-right: 0;
  }

  .features__bottom-block {
    padding: 0;
    margin-top: 0;
    justify-content: space-between;
  }

  .features__parking-description,
  .features__experience-description {
    width: 230px;
  }
}

@media (max-width: $mobile-width) {

  .features__title {
    @include title-mobile;
  }

  .features__description-block h3 {
    margin: -7px 0 2px 0;
  }

  .features__main-block {
    min-height: 239px;
    padding: 38px 74px 20px;
    margin: 44px auto 41px;
  }

  .features__main-unit {
    margin: -6px 0 10px;
  }

  .features__top-block,
  .features__bottom-block {
    justify-content: center;
    flex-direction: column;
  }

  .features__area,
  .features__parking,
  .features__comfort,
  .features__experience {
    width: 100%;
    flex-direction: column;
  }

  .features__count,
  .features__units,
  .features__description-block h3 {
    text-align: center;
    margin-right: 0;
  }

  .features__description-block p {
    width: 227px;
    margin: 0 auto;
    text-align: center;
  }

  .features__parking {
    margin-top: 34px;
  }

  .features__parking h3,
  .features__comfort h3,
  .features__experience h3 {
    margin-top: -7px;
  }

  .features__experience {
    margin-top: 35px;
  }
}
