.process__wrap {
  width: calc(100% - 206px);
  margin: 0 auto;
  padding: 70px 0 0;

  @include tablet {
    padding-top: 28px;
    width: calc(100% - 90px);
  }

  @include mobile {
    padding-top: 0;
    width: 100%;
  }
}

.process__list {
  @include reset;
  display: flex;
  list-style: none;
  position: relative;
  padding: 0 0 125px;

  &:after {
    width: 100%;
    height: 2px;
    background: red;
    content: '';
    position: absolute;
    top: 44px;
  }

  @include tablet {
    flex-direction: column;
    align-items: center;
    padding: 0 0 50px;

    &:after {
      display: none;
    }
  }
}

.process__item {
  min-height: 20px;
  margin: 0 0 0 40px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  width: 20%;

  &:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $blue;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    left: 10px;
    z-index: 2;
  }

  @include tablet {
    flex-direction: column;
    min-height: 40px;

    &:last-of-type {
      min-height: 20px;
    }

    &:after {
      top:5px;
      left: -24px;
    }

    &:before {
      content: '';
      position: absolute;
      background: $red;
      height: 100%;
      width: 2px;
      top: 0;
      left: -20px;
    }
  }
}
