.request__wrap {
  margin: 0 auto;
  padding: 50px 0;

  width: calc(100% - 206px);

  box-sizing: border-box;

  @include tablet {
    padding: 30px 0;

    width: calc(100% - 348px);

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include mobile {

    width: calc(100% - 30px);
  }
}

.request h2 {
  @include title-desktop;
  color: $blue;
  margin: 0 0 58px 0;

  @include tablet {
    @include title-tablet
  }

  @include mobile {
    @include title-mobile
  }
}

.request__form {

  width: 60%;
  margin: 0 auto;
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;

  @include mobile {
    width: 80%;
  }
}

.request__form p {
  @include reset;

  width: 100%;
  text-align: center;

  margin-bottom: 25px;

  color: $white;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  @include tablet {
    margin-bottom: 26px;
  }

  @include mobile {
    margin-bottom: 28px;

    text-align: center;
    line-height: 140%;
  }
}

.request__form label {
  width: 100%;

  cursor: pointer;
}

.request__form input {
  padding: 13.5px 14px;
  margin-bottom: 18px;

  width: 100%;

  font-family: inherit;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid $grey;

  color: $blue;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid $gradient-blue;
    outline: none;
  }

  @include mobile {
    margin-bottom: 20px;
    padding: 12px 14px;
  }
}

.request__checkbox {
  display: flex;

  width: 100%;

  font-size: 10px;
  line-height: 130%;

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.request__checkbox input {
  margin-bottom: 0;
  width: 18px;

  @include mobile {
    width: 20px;
    height: 20px;
  }
}

.request__tick-field {
  margin-right: 5px;
  border: 2px solid $grey;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;

  background-color: $white;

  @include mobile {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }
}

.request__checkbox-text {
  @include mobile {
    width: 95%;
  }
}

.request__checkbox svg {
  fill: $white;
}

.request__checkbox input:not(:checked) + .request__tick-field svg {
  display: none;
}

.request__checkbox input:checked + .request__tick-field svg {
  display: block;
}

.request__checkbox input:hover + .request__tick-field,
.request__checkbox input:focus + .request__tick-field {
  border: 2px solid $gradient-blue;
  outline: none;
}

.request__button {
  padding: 10px;
  margin-top: 32px;


  width: 100%;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid #102654;
  text-align: center;
  cursor: pointer;
  background: transparent;
  color: #102654;
  min-height: 50px;

  &:hover,
  &:focus {
      border: none;
      background: linear-gradient($blue, $red);
      color: $white-color;
  }

  @include mobile {
    margin-top: 27px;

    width: 100%;
  }
}

.request svg {
  margin-right: 1%;
  width: 22px;
}

.request__address {
  margin-bottom: 5px;
  display: flex;

  width: 95%;

  @include mobile {
    width: 100%;
  }
}

.request__address svg {
  margin-left: -2px;

  @include tablet {
    margin-left: 0;
    padding-top: 5px;
    padding-right: 2%;
  }

  @include mobile {
    margin-left: -2px;
  }
}

.request__address p {
  @include reset;

  width: 97%;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.request__phone {
  width: 95%;

  &:hover {
    opacity: 0.7;
  }

  @include mobile {
    width: 100%;
  }
}

.request__phone svg {
  margin-left: -2px;

  @include tablet {
    margin-left: 0;
    padding-top: 4px;
  }

  @include mobile {
    margin-left: -2px;
  }
}

.request__phone-link {
  width: 97%;

  color: $blue;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  white-space: nowrap;
}

.request__link {
  color: $blue;

  &:hover {
    opacity: .8;
  }
}
