.sum {
  background-color: $white;
}

.sum__wrap {
  width: calc(100% - 206px);
  margin: 0 auto;
  padding: 50px 0;

  @include tablet {
    padding-top: 50px;
    width: calc(100% - 90px);
  }

  @include mobile {
    padding-top: 30px;
    width: 100%;
  }
}

.sum__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;

  @include tablet {
    margin-bottom: 55px;
    min-width: 718px;
  }

  @include mobile {
    margin-bottom: 57px;
    min-width: 100%;
  }
}

.sum__item {
  margin-top: 30px;
  padding: 40px 3.56%;

  width: 48.72%;
  min-height: 200px;

  background-color: $white;
  border: 1px solid #b7c6e0;
  border-left: 3px solid $blue;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;

  &:hover {
    background: linear-gradient($blue, $red,  $blue);
    border: 1px solid $blue;

    position: relative;

    &::before {
      position: absolute;
      top: 40px;
      left: 7.56%;

      content: "";
      background-size: cover;
    }

    h3 {
      color: $white;
    }

    p {
      color: $white;
    }
  }

  @include tablet {
    padding: 24px 2.85% 25px 3.5%;

    width: 44%;
    min-height: 250px;

    &:hover {
      &::before {
        top: 25px;
      }
    }
  }

  @include mobile {
    margin: 20px auto;
    padding: 24px 3.2% 28px 8%;
    width: 80%;
  }
}

.sum__item h3 {
  @include reset;

  margin: 13px 0 17px;

  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $blue;

  @include tablet {
    margin: 3px 0 13px;
  }

  @include mobile {
    margin: 10px 0 12px;

    font-size: 20px;
    line-height: 140.62%;
  }
}

.sum__item p {
  @include reset;

  @include mobile {
    width: 98%;
  }
}


.sum__about {
  display: flex;
}

.sum__picture-wrap {
  margin-left: -30px;

  @include tablet {
    margin-left: -27px;
  }

  @include mobile {
    display: none;
  }
}

.sum__picture-wrap img {
  @include tablet {
    width: 245px;
    height: 362px;
  }
}

.sum__info {
  margin-left: -10px;

  @include tablet {
    margin-left: -33px;
  }

  @include mobile {
    margin: 0;

    width: 100%;
  }
}

.sum__info h3 {
  @include reset;
  margin-top: -5px;
  padding-bottom: 22px;

  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $grey;

  @include tablet {
    margin-top: 0;
    padding-bottom: 27px;

    font-size: 32px;
    line-height: 140.62%;
  }

  @include mobile {
    padding-bottom: 23px;
    font-size: 28px;
    line-height: 140.62%;
  }
}

.sum__info p {
  @include reset;

  padding-bottom: 22px;

  @include tablet {
    margin-bottom: 25px;
    padding: 0 0 0 2px;
    max-height: 88px;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include mobile {
    margin-bottom: 25px;
    padding-left: 2px;
    max-height: 150px;

    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.sum__link {
  margin-top: 22px;
  padding: 14px 13px 13px;
  width: 180px;

  display: block;

  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blue;
  cursor: pointer;

  border: 1px solid $blue;
  box-sizing: border-box;
  border-radius: 5px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    margin-top: 40px;
  }

  @include mobile {
    margin-top: 32px;
  }
}
