$grey: #d8d8d9;
$grey-bkg: #f3f4f7;
$blue: #243759;
$gradient-blue: #35548a;
$gradient-red: #f22f45;
$red: #f22f45;;
$white: #f9f9fd;
$white-color: #ffffff;
$dark-blue-color: #102654;
$font-main: "Montserrat", "Tahoma", sans-serif;
$font-weight: 400;
$text-size: 16px;
$line-height: 24px;

$desktop-width: 1440px;
$mobile-width: 767px;
$tablet-width: 1199px;

